.main {
  width: 70%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.my-border {
  padding: 20px;
  margin-right: 10px;
}

.row-padding {
  padding: 10px;
}

.my-card {
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.25rem;
  width: 25%;
  padding: 20px;
}
