ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.main {
  width: 70%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.row-padding {
  padding: 10px;
}

.row-1-icon {
  position: relative;
  top: 10px;
}

.container {
  display: flex;
}

.units-1 {
  font-size: 15px;
  position: absolute;
  top: 122px; /* adjust the vertical positioning */
}

.units-2 {
  font-size: 13px;
  position: absolute;
  top: 222px; /* adjust the vertical positioning */
}
